@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import '../../config/colors.css';
:root {
  font-family: "Roboto Condensed", sans-serif;
}

.lContainer {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginFormWrapper {
  margin-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.captionLoginForm {
  text-align: center;
}

form.loginForm {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  font-family: "Roboto Condensed", sans-serif;
}

.loginInput {
  height: 35px;
  width: 80%;
  box-shadow: 5px 5px 8px #888888;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0.3rem;
}

button.loginSubmit {
  height: 44px;
  padding: 10px;
  width: 82%;
  border-radius: 5px;
  background: hsla(calc(var(--main-bg-color-h) + 0deg), calc(var(--main-bg-color-s) + 0%), calc(var(--main-bg-color-l) + 0%), calc(var(--main-bg-color-a) + 0));
  color: white;
  padding: 0.3rem;
  text-align: center;
  box-shadow: 5px 5px 8px #888888;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
button.loginSubmit:hover {
  cursor: pointer;
  background: hsla(calc(var(--main-bg-color-h) + 100deg), calc(var(--main-bg-color-s) + 0%), calc(var(--main-bg-color-l) + 30%), calc(var(--main-bg-color-a) + 0));
}
button.loginSubmit:disabled, button.loginSubmit[disabled] {
  background: hsla(calc(var(--main-bg-color-h) + 0deg), calc(var(--main-bg-color-s) + 0%), calc(var(--main-bg-color-l) + 5%), calc(var(--main-bg-color-a) + -0.3));
}