.siCheckButton {
  width: max-content;
  padding: 0 0.4rem 0 0.4rem;
  height: 3rem;
  background-color: var(--main-bg-color);
  color: white;
  margin: 0.6rem;
  border: none;
  background: var(--main-color);
  color: white;
  font-weight: 900;
  border-radius: 5px;
  margin: 1rem auto;
}