@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import '../../config/colors.css';

h1.homeTitle {
    font-family: 'Open Sans',serif;
    width: 62%;
    margin: 1rem auto;
    padding: 2.5rem auto;
    background-color: purple;
}