:root {
  --main-color: #0071c2;
  --main-bg-color: #003580;
  --white: white;
  --searchText: lightgray;
  --searchTextd:#C9c7c6;
  --search-box-border: #febb02;
  --searchTextOrng: #555;
  --primary-h: 0deg;
  --primary-l: 41.1764705882%;
  --primary-s: 0%;
  --primary-a: 1;
  --secondary-h: 240deg;
  --secondary-l: 50%;
  --secondary-s: 100%;
  --secondary-a: 1;
  --main-bg-color-h: 215.15625deg;
  --main-bg-color-l: 25.0980392157%;
  --main-bg-color-s: 100%;
  --main-bg-color-a: 1;
}