@import '../../config/all_config.css';
@import '../../config/colors.css';
.header {
  background-color: var(--main-bg-color);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.coronaVirusInfo {
  height: 3 rem;
  width: 100%;
  background: #fff0f0;
  border: 1px solid #febb02;
}
.coronaVirusInfo .firstRow {
  display: flex;
  margin: 0 16rem;
}
.coronaVirusInfo svg {
  padding: 6px 10px 6px 6px;
}
.coronaVirusInfo h3 {
  font-family: Geneva, Verdana, sans-serif;
  margin-top: 0.4rem;
  color: black;
}
.coronaVirusInfo .coronaVirusIndication {
  margin: 0 18.4rem 1rem;
  font-family: Geneva, Verdana, sans-serif;
  font-weight: 300;
  margin-top: 0.4rem;
  color: black;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0 100px 0;
}

.headerContainer.listMode {
  margin: 20px 0 30px 0;
}

.headerList {
  display: flex;
  gap: 3rem;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.headerListItem.active {
  border: 1px solid var(--white);
  padding: 5px 14px;
  border-radius: 20px;
}

.headerTitle {
  margin-top: 1rem;
}

.headerDesc {
  margin-top: 0.4rem;
}

.headerBtn {
  margin: 0.2rem;
  padding: 0.5rem;
  background-color: var(--main-color);
  color: white;
  border: 1px solid white;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
}

.headerSearch {
  height: 30px;
  background-color: var(--white);
  color: var(--searchTextd);
  border: 3px solid var(--search-box-border);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: var(--searchTextd);
}

.headerSearchText {
  color: var(--searchTextd);
}

.headerSearchItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  z-index: 2;
}

.headerSearchDate {
  position: absolute;
  top: 50px;
}

.headerSearchDate2Date {
  cursor: pointer;
}

.headerSearchOption {
  position: relative;
}

.headerSearchRoom {
  cursor: pointer;
}

.options {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  background: var(--white);
  color: var(--searchTextd);
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

.optionItem {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  width: 150px;
}

.optionCounter {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  font-size: 0.8rem;
}

.optionCounterButton {
  border: 1px solid var(--main-bg-color);
  background: white;
  color: var(--main-bg-color);
  border-radius: 3px;
  cursor: pointer;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

.optionCounterNumber {
  width: 0.8rem;
}

/*
button {
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
}
*/
button#handleSearch:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

button#handleSearch:disabled,
button#handleSearch[disabled] {
  background: hsla(calc(var(--main-bg-color-h) + 0deg), calc(var(--main-bg-color-s) + 0%), calc(var(--main-bg-color-l) + 5%), calc(var(--main-bg-color-a) + -0.3));
  cursor: not-allowed;
}