.coronaVirusInfo {
  height: 3 rem;
  width: 100%;
  background: #fff0f0;
  border: 1px solid rgba(254, 187, 2, 0.2);
  position: relative;
}
.coronaVirusInfo .firstRow {
  display: flex;
  margin: 0 16rem;
}
.coronaVirusInfo svg {
  padding: 6px 10px 6px 6px;
}
.coronaVirusInfo h3 {
  font-family: Geneva, Verdana, sans-serif;
  margin-top: 0.4rem;
  color: black;
}
.coronaVirusInfo .coronaVirusIndication {
  margin: 0 18.4rem 1rem;
  font-family: Geneva, Verdana, sans-serif;
  font-weight: 300;
  margin-top: 0.4rem;
  color: black;
}
.coronaVirusInfo .coronaVirusXMark {
  position: absolute;
  top: 5px;
  right: 5px;
  color: black;
  z-index: 9999;
}